################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SDL_Steering_Behaviors/v15/Browse.VC.db
/.vs
/SDL_Steering_Behaviors/.vs/SDL_Steering_Behaviors/v15
